<h3>TodoItemView</h3>

@using BlazorApp1.Model.Entity

<div class="card">
    <div class="card-body">
        @todo.Description (@(todo.IsCompleted ? "Completed" : "Under progress"))
    </div>
</div>
@code {
    [Parameter] public TodoItem todo { get; set; }
}
