<h3>TodoComponent</h3>

@using TodoApp.Model.Entity

<div>
    @TodoItem.Description (@(TodoItem.IsCompleted ? "Completed" : "Underprogress"))
</div>
@code {
    [Parameter] public TodoItem TodoItem { get; set; }
}
