@page "/counter"
@using BlazorApp1.Model
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [CascadingParameter] public ApplicationState State { get; set; }
    private int currentCount => State.CurrentCounter;

    private void IncrementCount()
    {
        State.Increment();
    }
}
