@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<TodoItemView todo="item1">

</TodoItemView>

@code{
    public TodoItem item1 = new TodoItem 
    { Description = "Finish The Assignment",
    DueDate = DateTime.Now,
    IsCompleted = false,
    Id = 1};
}