@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<TodoComponent TodoItem="item1">

</TodoComponent>

@code{
    public TodoItem item1 = new TodoItem 
    { Description = "finsh assignment",
    DueDate = DateTime.Now,
    IsCompleted = false,
    Id = 1};
}